body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(images/table.jpg);
    background-size: cover;
    text-align: center;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 2px;
}

button:hover{
    color: #016f32;
    width: 150px;
    background-color: rgb(165, 119, 0);
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 2px;
    cursor: pointer;
}

#lost{
    max-width: 500px;
    height: 300px;
}